<h1>Current List of Stylists Available:</h1>


@if (@Model.Count == 0)
{
    <h3>No Stylists have been added to the list yet!</h3>
}

@foreach (var stylist in Model)
{
    <h3><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></h3>
}
<form action="/stylists/deleteall" method="get">
  <button type="submit">Delete all stylists</button>
</form>
<h3><a href='/stylists/new'>Add a new Stylist</a></h3>
<p><a href='/'>Back to front page</a></p>
