<h1>Add a new client to @Model["stylist"].GetName()</h1>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model["stylist"].GetId()'>
  <label for='clientName'>client Name</label>
  <input id='clientName' name='clientName' type='text'>
  <button type='submit'>Add!</button>
</form>
