<h1>Hair Salon client names: </h1>

<h2>@Model["client"].GetName()</h2>
<h3>stylist: @Model["stylist"].GetName()</h3>


<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>
