<h1>Hair Salon client names: </h1>


<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this client</a>


<form action="/stylists/@Model["stylist"].GetId()/clients/new/delete" method="post">
  <button type="submit">Delete this client</button>
</form>

<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>
