<h1>Hair Salon client names: </h1>

<h2>@Model["clients"].GetName()</h2>
<h3>stylist: @Model["stylists"].GetName()</h3>

<a href='/stylists/@Model["stylists"].GetId()/clients/@Model["clients"].GetId()/edit'>Edit this client</a>


<form action="/stylists/@Model["stylists"].GetId()/clients/new/delete" method="post">
  <button type="submit">Delete this client</button>
</form>

<a href='/stylists/@Model["stylists"].GetId()/clients/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>
